<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sky.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/iris.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Iris</title>
</head>

<video autoplay muted loop id="VideoBackground">
    <source src="/statics/video/vecteezy_blue-particles-swirl-background_1908940.mp4" type="video/mp4">
</video>

<body>
    <div class="pure-g">
        <div class="pure-u-2-24 header-element">
            <a type="button" href="{% url 'logout' %}" class="Logout-Button"><i
                    class="large material-icons">logout</i></a>
        </div>
        <div class="pure-u-2-24 header-element">
            <a type="button" href="{% url 'Registro' %}" class="Logout-Button"><i
                    class="large material-icons">person_add</i></a>
        </div>
    </div>

    <div class="ChatBot">
        <div class="AreaConversacion">
            <h1 class="TitleChat">IRIS</h1>
            <div id="chatLog"></div>
            <div class="msg-box">
                <input type="text" class="ip-msg" id="newUserInput" maxlength="100" placeholder="type something.." />
                <span class="btn-group">
                    <button class="fake-button" onclick="sendMessage()" id="btn"><i
                            class="large material-icons">send</i></button>
                    <button class="fake-button" id="voiceButton"><i
                            class="large material-icons">keyboard_voice</i></button>
                </span>
            </div>
        </div>

        <div class="dot-spinner" id="loader" style="display: none;">
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
        </div>
    </div>
    </div>
</body>

<script src="{% static 'js/chat.js' %}"></script>
<script>
    function ConsumoApi() {
        fetch('ApiGet', {
            method: 'GET',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la respuesta HTTP: ' + response.status);
                }
                return response.json();
            })
            .then(data => {
                console.log(data.message);
            })
            .catch(error => console.error('Error:', error));
    }



    async function sendMessage(message = null) {
        const userMessage = message || document.getElementById('newUserInput').value;
        const chatLog = document.getElementById('chatLog');
        const loader = document.getElementById('loader');

        if (!userMessage || userMessage.trim() === '') {
            return;
        }

        if (userMessage.length > 100) {
            alert("La petición es demasiado amplia, por favor reformule su pregunta");
            return;
        }

        chatLog.innerHTML += `<div class="logs" id="user">Tú: ${userMessage}</div>`;
        loader.style.display = 'block';

        try {
            const response = await fetch("{% url 'Comm' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'user_input': userMessage
                })
            });

            const data = await response.json();

            const botResponseDiv = document.createElement('div');
            botResponseDiv.className = 'logs';
            botResponseDiv.id = 'Bot';

            if (data.is_html) {
                botResponseDiv.innerHTML = `Iris: ${data.response}`;

                initializeDynamicElements(botResponseDiv);
            } else {
                botResponseDiv.textContent = `Iris: ${data.response}`;
            }

            chatLog.appendChild(botResponseDiv);
            chatLog.scrollTop = chatLog.scrollHeight;

        } catch (error) {
            console.error('Error:', error);
            chatLog.innerHTML += `<div id="System">System: No tienes permisos para realizar esta acción</div>`;
        } finally {
            loader.style.display = 'none';
        }

        if (!message) {
            document.getElementById('newUserInput').value = '';
        }
    }



    function SendMirrorAccount() {
        const form = document.getElementById('mirrorAccountForm');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const Imei = [];
        const checkboxes = document.getElementsByName('Imei');
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                    Imei.push(checkbox.value);
                    Imei.join(', ');
            }
        });

        if (Imei.length > 0) {
            data['Imei'] = Imei.join(',');
        }

        data.delete_expired = document.getElementById('delete_expired').checked;

        fetch('CreateSubAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');

            })
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs error">Error: No se pudo procesar la solicitud</div>`;
            });
    }


</script>

</html>