<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sky.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/iris.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Iris</title>
</head>

<video autoplay muted loop id="VideoBackground">
    <source src="/statics/video/vecteezy_blue-particles-swirl-background_1908940.mp4" type="video/mp4">
</video>

<body id="Iris_Body">
    <div class="header">
        <div class="pure-g">
            <div class="pure-u-1-3 header-element">
                <a type="button" href="{% url 'logout' %}" id="Logout-Button"><i
                        class="small material-icons">logout</i></a>
            </div>
            <div class="pure-u-1-3 header-element" id="ChatTitle">
                <p id="Title_Iris">IRIS</p>

            </div>
            <div class="pure-u-1-3 header-element" id="AddDiv">
                <a type="button" href="{% url 'Registro' %}" id="Add_Button"><i
                        class="small material-icons">person_add</i></a>
            </div>
        </div>
    </div>

    <div class="ChatBot">
        <div class="AreaConversacion">
            <div id="chatLog"></div>
            <div class="msg-box">
                <input type="text" class="ip-msg" id="newUserInput" maxlength="100" placeholder="Escribe algo..." />
                <span class="btn-group">
                    <button class="fake-button" onclick="sendMessage()" id="btn"><i
                            class="large material-icons">send</i></button>
                    <button class="fake-button" id="voiceButton"><i
                            class="large material-icons">keyboard_voice</i></button>
                </span>
            </div>
        </div>

        <div class="dot-spinner" id="loader" style="display: none;">
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
        </div>
    </div>
</div>
</body>

<script src="{% static 'js/chat.js' %}"></script>
<script>

    function displayForm(row) {
        var formRow = row.nextElementSibling;
        if (formRow && formRow.classList.contains('form-row')) {
            formRow.style.display = formRow.style.display === 'none' ? 'table-row' : 'none';
        }
    }
    
    async function sendMessage(message = null) {
        const userMessage = message || document.getElementById('newUserInput').value;
        const chatLog = document.getElementById('chatLog');
        const loader = document.getElementById('loader');

        if (!userMessage || userMessage.trim() === '') {
            return;
        }

        if (userMessage.length > 100) {
            alert("La petición es demasiado amplia, por favor reformule su pregunta");
            return;
        }

        chatLog.innerHTML += `<div class="logs" id="user">Tú: ${userMessage}</div>`;
        loader.style.display = 'block';

        try {
            const response = await fetch("{% url 'Comm' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'user_input': userMessage
                })
            });

            const data = await response.json();

            const botResponseDiv = document.createElement('div');
            botResponseDiv.className = 'logs';
            botResponseDiv.id = 'Bot';

            if (data.is_html) {
                botResponseDiv.innerHTML = `Iris: ${data.response}`;

                initializeDynamicElements(botResponseDiv);
            } else {
                botResponseDiv.textContent = `Iris: ${data.response}`;
            }

            chatLog.appendChild(botResponseDiv);
            chatLog.scrollTop = chatLog.scrollHeight;

        } catch (error) {
            console.error('Error:', error);
            chatLog.innerHTML += `<div id="System">System: No tienes permisos para realizar esta acción</div>`;
        } finally {
            loader.style.display = 'none';
        }

        if (!message) {
            document.getElementById('newUserInput').value = '';
        }
    }

    function SendTest(event) {
        event.preventDefault();
        const button = document.querySelector("button[onclick='SendTest()']");

        fetch('TestMirrorAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot"><a href="#">Llego</a></div>`;
            })
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">Error: No se pudo procesar la solicitud</div>`;
            })
            .finally(() => {
                button.disabled = false;
            });
    }

    function SendMirrorAccount(event) {
        event.preventDefault();

        const button = document.querySelector("button[onclick='SendMirrorAccount()']");

        const form = document.getElementById('mirrorAccountForm');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const Imei = [];
        const checkboxes = document.getElementsByName('Imei');
        const su = document.getElementById('su');
        const url = "https://atlantida2.mx/index.php?su=" + su.value;
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                Imei.push(checkbox.value);
            }
        });

        if (Imei.length > 0) {
            data['Imei'] = Imei.join(',');
        }

        data.delete_expired = document.getElementById('delete_expired').checked;

        fetch('CreateSubAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                if (Imei.length == 0) {
                    chatLog.innerHTML += `<div id="System">System: No se agrego ningun imei</div>`;
                } else {
                    chatLog.innerHTML += `<div class="logs" id="Bot"><a href="${url}">Siga este link para adquirir su cuenta espejo</a></div>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">Error: No se pudo procesar la solicitud</div>`;
            })
            .finally(() => {
                button.disabled = false;
            });
    }

    function EditMirrorAccount(event) {
        event.preventDefault();

        const button = event.target;
        const form = button.closest('form');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const Imei = [];
        const checkboxes = form.querySelectorAll('input[name="Imei"]');

        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                Imei.push(checkbox.value);
            }
        });

        if (Imei.length > 0) {
            data['Imei'] = Imei.join(',');
        }

        fetch('EditSubAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">La cuenta espejo fue editada exitosamente</div>`
            })
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">Error: No se pudo procesar la solicitud</div>`;
            })
            .finally(() => {
                button.disabled = false;
            });
    }

    function DeleteMirrorAccount(event){
        event.preventDefault();
        const button = event.target;
        const form = button.closest('form');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
        fetch('DeleteSubAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
                },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                    chatLog.innerHTML += `<div class="logs" id="Bot">La cuenta espejo fue editada exitosamente</div>`;
            })
        
    }

    var $rows = $('#TableForMA tbody tr');
    $('#SearchTable').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

    document.addEventListener('click', function (e) {
        try {
            function findElementRecursive(element, tag) {
                return element.nodeName === tag ? element :
                    findElementRecursive(element.parentNode, tag)
            }
            var descending_th_class = ' dir-d '
            var ascending_th_class = ' dir-u '
            var ascending_table_sort_class = 'asc'
            var regex_dir = / dir-(u|d) /
            var regex_table = /\bsortable\b/
            var alt_sort = e.shiftKey || e.altKey
            var element = findElementRecursive(e.target, 'TH')
            var tr = findElementRecursive(element, 'TR')
            var table = findElementRecursive(tr, 'TABLE')
            function reClassify(element, dir) {
                element.className = element.className.replace(regex_dir, '') + dir
            }
            function getValue(element) {
                return (
                    (alt_sort && element.getAttribute('data-sort-alt')) ||
                    element.getAttribute('data-sort') || element.innerText
                )
            }
            if (regex_table.test(table.className)) {
                var column_index
                var nodes = tr.cells
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i] === element) {
                        column_index = element.getAttribute('data-sort-col') || i
                    } else {
                        reClassify(nodes[i], '')
                    }
                }
                var dir = descending_th_class
                if (
                    element.className.indexOf(descending_th_class) !== -1 ||
                    (table.className.indexOf(ascending_table_sort_class) !== -1 &&
                        element.className.indexOf(ascending_th_class) == -1)
                ) {
                    dir = ascending_th_class
                }
                reClassify(element, dir)
                var org_tbody = table.tBodies[0]
                var rows = [].slice.call(org_tbody.rows, 0)
                var reverse = dir === ascending_th_class
                rows.sort(function (a, b) {
                    var x = getValue((reverse ? a : b).cells[column_index])
                    var y = getValue((reverse ? b : a).cells[column_index])
                    return isNaN(x - y) ? x.localeCompare(y) : x - y
                })
                var clone_tbody = org_tbody.cloneNode()
                while (rows.length) {
                    clone_tbody.appendChild(rows.splice(0, 1)[0])
                }
                table.replaceChild(clone_tbody, org_tbody)
            }
        } catch (error) {
        }
    });

    const rowsPerPage = 5;
    let currentPage = 1;
    function displayTable(page) {
        const table = document.getElementById("TableForMA");
        const startIndex = (page - 1) * rowsPerPage;
        const endIndex = startIndex + rowsPerPage;
        const slicedData = data.slice(startIndex, endIndex);

        slicedData.forEach(item => {
            const row = table.insertRow();
            const nameCell = row.insertCell(0);
            const emailCell = row.insertCell(1);
            const cityCell = row.insertCell(2);
            nameCell.innerHTML = item.name;
            emailCell.innerHTML = item.email;
            cityCell.innerHTML = item.city;
        });

        updatePagination(page);
    }

    function updatePagination(currentPage) {
        const pageCount = Math.ceil(data.length / rowsPerPage);
        const paginationContainer = document.getElementById("pagination");
        paginationContainer.innerHTML = "";

        for (let i = 1; i <= pageCount; i++) {
            const pageLink = document.createElement("a");
            pageLink.href = "#";
            pageLink.innerText = i;
            pageLink.onclick = function () {
                displayTable(i);
            };
            if (i === currentPage) {
                pageLink.style.fontWeight = "bold";
            }
            paginationContainer.appendChild(pageLink);
            paginationContainer.appendChild(document.createTextNode(" "));
        }
    }

    displayTable(currentPage);

    async function Searcher() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("SearchTable");
        filter = input.value.toUpperCase();
        table = document.getElementById("TableForMA");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.lenght; i++) {
            td = tr[i].getElementsByTagName("td")[1] || tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

</html>