<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sky.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/iris.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Iris</title>
</head>

<video autoplay muted loop id="VideoBackground">
    <source src="/statics/video/vecteezy_blue-particles-swirl-background_1908940.mp4" type="video/mp4">
</video>

<body id="Iris_Body">
    <div class="header">
        <div class="pure-g">
            <div class="pure-u-1-3 header-element">
                <a type="button" href="{% url 'logout' %}" id="Logout-Button"><i
                        class="small material-icons">logout</i></a>
            </div>
            <div class="pure-u-1-3 header-element" id="ChatTitle">
                <p id="Title_Iris">IRIS</p>

            </div>
            <div class="pure-u-1-3 header-element" id="AddDiv">
                <a type="button" href="{% url 'Registro' %}" id="Add_Button"><i
                        class="small material-icons">person_add</i></a>
            </div>
        </div>
    </div>

    <div class="ChatBot">
        <div class="AreaConversacion">
            <div id="chatLog"></div>
            <div class="msg-box">
                <input type="text" class="ip-msg" id="newUserInput" maxlength="100" placeholder="Escribe algo..." />
                <span class="btn-group">
                    <button class="fake-button" onclick="sendMessage()" id="btn"><i
                            class="large material-icons">send</i></button>
                    <button class="fake-button" id="voiceButton"><i
                            class="large material-icons">keyboard_voice</i></button>
                </span>
            </div>
        </div>

        <div class="dot-spinner" id="loader" style="display: none;">
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
            <div class="dot-spinner__dot"></div>
        </div>
    </div>
    </div>
</body>

<script src="{% static 'js/chat.js' %}"></script>
<script>
    async function sendMessage(message = null) {
        const userMessage = message || document.getElementById('newUserInput').value;
        const chatLog = document.getElementById('chatLog');
        const loader = document.getElementById('loader');

        if (!userMessage || userMessage.trim() === '') {
            return;
        }

        if (userMessage.length > 100) {
            alert("La petición es demasiado amplia, por favor reformule su pregunta");
            return;
        }

        chatLog.innerHTML += `<div class="logs" id="user">Tú: ${userMessage}</div>`;
        loader.style.display = 'block';

        try {
            const response = await fetch("{% url 'Comm' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'user_input': userMessage
                })
            });

            const data = await response.json();

            const botResponseDiv = document.createElement('div');
            botResponseDiv.className = 'logs';
            botResponseDiv.id = 'Bot';

            if (data.is_html) {
                botResponseDiv.innerHTML = `Iris: ${data.response}`;

                initializeDynamicElements(botResponseDiv);
            } else {
                botResponseDiv.textContent = `Iris: ${data.response}`;
            }

            chatLog.appendChild(botResponseDiv);
            chatLog.scrollTop = chatLog.scrollHeight;

        } catch (error) {
            console.error('Error:', error);
            chatLog.innerHTML += `<div id="System">System: No tienes permisos para realizar esta acción</div>`;
        } finally {
            loader.style.display = 'none';
        }

        if (!message) {
            document.getElementById('newUserInput').value = '';
        }
    }

    function SendMirrorAccount(event) {
        event.preventDefault();

        const button = document.querySelector("button[onclick='SendMirrorAccount()']");

        const form = document.getElementById('mirrorAccountForm');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const Imei = [];
        const checkboxes = document.getElementsByName('Imei');
        const su = document.getElementById('su');
        const url = "https://atlantida2.mx/index.php?su=" + su.value;
        checkboxes.forEach(checkbox => {
            if (checkbox.checked) {
                Imei.push(checkbox.value);
            }
        });

        if (Imei.length > 0) {
            data['Imei'] = Imei.join(',');
        }

        data.delete_expired = document.getElementById('delete_expired').checked;

        fetch('CreateSubAccount', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                if (Imei.length == 0) {
                    chatLog.innerHTML += `<div id="System">System: No se agrego ningun imei</div>`;
                } else {
                    chatLog.innerHTML += `<div class="logs" id="Bot"><a href="${url}">Siga este link para adquirir su cuenta espejo</a></div>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">Error: No se pudo procesar la solicitud</div>`;
            })
            .finally(() => {
                button.disabled = false;
            });
    }

    function EditMirrorAccount(event){
        event.preventDefault();

        const button = document.querySelector("button[onclick='EditMirrorAccount()']");
        const form = document.getElementById('editMirrorAccountForm');
        const formData = new FormData(form);

        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        //Need to add some functions here for every data label that is picked, maybe if i use another fetch?
        fetch('EditSubAccount', {
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">La cuenta espejo fue editada exitosamente</div>`
            }) 
            .catch(error => {
                console.error('Error:', error);
                const chatLog = document.getElementById('chatLog');
                chatLog.innerHTML += `<div class="logs" id="Bot">Error: No se pudo procesar la solicitud</div>`;
            })
            .finally(() => {
                button.disabled = false;
            });
    }


</script>

</html>